{% load static %}
<style>
/* Add this to your existing CSS stylesheet */
nav ul li a:hover {
    color: yellow !important;
}
/* Add this to your existing CSS stylesheet */
a.categories-button-active:hover span.et {
    color: yellow !important;
}

/* Add this to your existing CSS stylesheet */
div.search-style-2 a:hover {
    color: yellow !important;
}

/* Add this to your existing CSS stylesheet */
.header-action-icon-2 a:hover {
    color: red !important;
}
/* Add this to your existing CSS stylesheet */
.header-action-icon-2 a[href="page-account.html"]:hover span.lable,
.header-action-icon-2 a[href="page-account.html"]:hover img.svgInject {
    color: yellow !important;
}
/* Add this to your existing CSS stylesheet */





</style>
<!-- <header class="header-area header-style-1 header-height-2" style="background: linear-gradient(rgba(255, 0, 102, 0.7), rgba(0, 153, 255, 0.7)), url('your-image.jpg');
background-blend-mode: overlay;" height="50">

   
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        
        <div class="container">
          
       
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href="{% url 'index' %}"><img src="{% static 'assets/imgs/theme/logo3.jpg' %}" alt="logo" /></a>
                </div>
                <div class="header-right">
                    <div class="search-style-2">
                           
                    <a href="{% url 'search' %}" style="color: black; font-size: 40px;" >検索</a>
                    

                    </div>
                    <div class="search-style-2">
                           
                        <div class="header__lang border-right">
                            {% if request.user.is_authenticated %}
                            
                            <div class="s-name">
                                <p style="color: yellow;">県 : {{user.location}}</p>
                            </div>
                            
                               
                            {% endif %}

                            
                        </div>
                        {% if request.user.is_authenticated %}

                        {% if user.username == '' %}
                         <p style="color:yellow;"> {{user.email}}さん、ようこそ</p>
                        {% else %}
                        <p style="color: yellow"> {{user.username}}さん、ようこそ</p>
                         {% endif %}
                         {% else %}
                         <p style="color: yellow"> まずは、ログインしてください</p>
                         {% endif %}
                                           
    
                        </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                          
                           
                            {% if request.user.is_authenticated %}

                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="{% url 'cart' %}">
                                    <img alt="Puchitto" src="{% static 'assets/imgs/theme/icons/cart.png' %}" />
                                    <span class="pro-count blue cart-items-count">{{ request.session.book_data_obj|length }}</span>
                                </a>
                                <a href="{% url 'cart' %}"><span class="lable" style="color: black;">予約</span></a>

                            </div>
                            <div class="header-action-icon-2">
                                <a href="page-account.html">
                                    <img class="svgInject" alt="Nest" src="{% static 'assets/imgs/theme/icons/icon-user.svg' %}" />
                                </a>
                                <a href="{% url 'dashboard' %}"><span class="lable ml-0" style="color: black;">ユーザ情報</span></a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                    <ul>
                                        <li><a href="{% url 'dashboard' %}"><i class="fi fi-rs-user mr-10"></i>ユーザ情報</a></li>
                                        <li><a href="{% url 'signout' %}"><i class="fi fi-rs-sign-out mr-10"></i>ログアウト</a></li>
                                        {% else %}
                                        <li><a href="{% url 'signin' %}" style="color:black"><i class="fi fi-rs-sign-in mr-10" style="color:black"></i>ログイン</a></li>
                                         {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div >
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
               
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categories-button-active" href="#">
                                <span ></span> <span class="et">カテゴリー</span>
                                <i class="fi-rs-angle-down"></i>
                            </a>
                            <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
                                <div class="d-flex categori-dropdown-inner">
                                    <ul>
                                        {% for i in categories %}
                                        <li>
                                            <a href="{% url 'category-product-list' i.cid %}"> <img src="{{i.image.url}}" alt="" />{{i.title}}</a>
                                        </li>
                                        {% endfor %}

                                    </ul>

                                </div>
                                <div class="more_slide_open" style="display: none">
                                    <div class="d-flex categori-dropdown-inner">
                                   
                                    </div>
                                </div>
                                <div class="more_categories"><span class="icon"></span> <span class="heading-sm-1">Show more...</span></div>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                            <nav>
                                <ul>
                                    <li class="hot-deals"><img src="{% static 'assets/imgs/theme/icons/icon-hot.svg' %}" alt="hot deals" /><a href="{% url 'package' %}">全てのパッケージ</a></li>
                                    <li>
                                        <a class="active" style="color: black; " href="{% url 'index' %}">ホームページ<i class="fi-rs-angle-down"></i></a>
                                       
                                    </li>

                                    <li>
                                        <a href="{% url 'category' %}">カテゴリー<i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            {% for i in categories %}
                                            <li><a href="{% url 'category-product-list' i.cid %}">{{i.title}}</a></li>  
                                            {% endfor %}   
                                        </ul>
                                    </li>




                                    <li>
                                        <a href="{% url 'contact' %}">お問い合わせ</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>


                </div>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    <strong>{{message}}</strong>
                </div>
                 {% endfor %}
                {% endif %}
                <script>
                    setTimeout(() => {
                         $('.alert').alert('close')
                    }, 3000);
                </script>
            </div>
        </div>
    </div>
    
</header> -->

<header class="header-area header-style-1 header-height-2" style="background: linear-gradient(rgba(255, 0, 102, 0.7), rgba(0, 153, 255, 0.7)), url('your-image.jpg');
background-blend-mode: overlay;" height="50">

   
    <div class="header-middle header-middle-ptb-1">
        
        <div class="container">
          
       
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href="{% url 'index' %}"><img src="{% static 'assets/imgs/theme/logo3.jpg' %}" alt="logo" /></a>
                </div>
                <div class="header-right">
                    <div class="search-style-2">
                           
                    <a href="{% url 'search' %}" style="color: black; font-size: 40px;" >検索</a>
                    

                    </div>
                    <div class="search-style-2">
                           
                        <div class="header__lang border-right">
                            {% if request.user.is_authenticated %}
                            
                            <div class="s-name">
                                <p style="color: yellow;">県 : {{user.location}}</p>
                            </div>
                            
                               
                            {% endif %}

                            
                        </div>
                        {% if request.user.is_authenticated %}

                        {% if user.username == '' %}
                         <p style="color:yellow;"> {{user.email}}さん、ようこそ</p>
                        {% else %}
                        <p style="color: yellow"> {{user.username}}さん、ようこそ</p>
                         {% endif %}
                         {% else %}
                         <a href="{% url 'signin' %}" > <p style="color: yellow">まずは、ログインしてください</p></a>
                         {% endif %}
                                           
    
                        </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                          
                           
                            {% if request.user.is_authenticated %}

                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="{% url 'cart' %}">
                                    <img alt="Puchitto" src="{% static 'assets/imgs/theme/icons/cart.png' %}" />
                                    <span class="pro-count blue cart-items-count">{{ request.session.book_data_obj|length }}</span>
                                </a>
                                <a href="{% url 'cart' %}"><span class="lable" style="color: black;">予約</span></a>

                            </div>
                            <div class="header-action-icon-2">
                                <a href="page-account.html">
                                    <img class="svgInject" alt="Nest" src="{% static 'assets/imgs/theme/icons/icon-user.svg' %}" />
                                </a>
                                <a href="{% url 'dashboard' %}"><span class="lable ml-0" style="color: black;">ユーザ情報</span></a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                    <ul>
                                        <li><a href="{% url 'dashboard' %}"><i class="fi fi-rs-user mr-10"></i>ユーザ情報</a></li>
                                        <li><a href="{% url 'signout' %}"><i class="fi fi-rs-sign-out mr-10"></i>ログアウト</a></li>
                                        {% else %}
                                        <li><a href="{% url 'signin' %}" style="color:black"><i class="fi fi-rs-sign-in mr-10" style="color:black"></i>ログイン</a></li>
                                         {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div >
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
               
                    <div class="header-nav">
                        <div class="main-categori-wrap">
                            <a class="categories-button-active" href="#">
                                <span ></span> <span class="et">カテゴリー</span>
                                <i class="fi-rs-angle-down"></i>
                            </a>
                            <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
                                <div class="d-flex categori-dropdown-inner">
                                    <ul>
                                        {% for i in categories %}
                                        <li>
                                            <a href="{% url 'category-product-list' i.cid %}"> <img src="{{i.image.url}}" alt="" />{{i.title}}</a>
                                        </li>
                                        {% endfor %}

                                    </ul>

                                </div>
                                <div class="more_slide_open" style="display: none">
                                    <div class="d-flex categori-dropdown-inner">
                                   
                                    </div>
                                </div>
                                <div class="more_categories"><span class="icon"></span> <span class="heading-sm-1">Show more...</span></div>
                            </div>
                        </div>
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li class="hot-deals"><img src="{% static 'assets/imgs/theme/icons/icon-hot.svg' %}" alt="hot deals" /><a href="{% url 'package' %}">全てのパッケージ</a></li>
                                    <li>
                                        <a class="active" style="color: black; " href="{% url 'index' %}">ホームページ<i class="fi-rs-angle-down"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                       
                                    </li>

                                    <li>
                                        <a href="{% url 'category' %}">カテゴリー<i class="fi-rs-angle-down"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <ul class="sub-menu">
                                            {% for i in categories %}
                                            <li><a href="{% url 'category-product-list' i.cid %}">{{i.title}}</a></li>  
                                            {% endfor %}   
                                        </ul>
                                    </li>




                                    <li>
                                        <a href="{% url 'contact' %}">お問い合わせ</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>


                </div>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    <strong>{{message}}</strong>
                </div>
                 {% endfor %}
                {% endif %}
                <script>
                    setTimeout(() => {
                         $('.alert').alert('close')
                    }, 3000);
                </script>
            </div>
        </div>
    </div>
    
</header>